<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <style>
        #square1000 {
            position: fixed;
            width: 200px;
            height: 100px;
            left: 20%;
            top: 60%;
            cursor: pointer;
            background-color: #812;
        }
        #square1100 {
            position: fixed;
            width: 200px;
            height: 100px;
            left: 40%;
            top: 60%;
            cursor: pointer;
            background-color: #872;
        }
    </style>


</head>
<span class="container">

<div th:replace="shared/nav"></div>

<div class="row">
    <div class="col-xs-12 text center" th:object="${event}">
        <h1 th:text="${event.name}">Nazwa wydarzenia</h1>
        <!--<img th:src="@{/files/{filename}(filename=${event.imagePath})}" />-->
        <p th:text="${event.artist}">Artysta</p>
        <p th:text="${event.comment}">Komentarz</p>

        Dodano: <p th:text="${event.timestamp}"></p>
        Licznik odwiedzin: <p th:text="${event.visitCount}"></p>

    </div>
</div>


    <img src="/images/bar.png"  id='i1' style="position:absolute; left: 500; top: 100;">

<div id="square1000"></div>

<span th:if="(${session.userIsAdmin} == true)">
    <div id="square1100"></div>
</span>


<script th:inline="javascript">
    var userName = [[${session.userName}]];
    var userIsAdmin = [[${session.userIsAdmin}]];
    var eventId = [[${id}]];
    var userIsLogged = [[${session.userIsLogged}]];

    var seats = [[${allSeats}]];
    var seatsAmount = seats.length;
</script>


<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

<script src="/js/seats2.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




</body>